<!--include temp file header-->
<%-include('temp-files/_header') %>


<!--Main Section-->
<main id = "main-app">
    <div class="container">
        <div class = "nav-box d-flex justify-between">
           <div class="filter">
               <a href = "/">
                   <i class="fas fa-angle-double-left"></i>
                    ALL USERS
                </a>
           </div>
        </div>

        <div class = "form-title text-center">
            <h2 class="text-dark">Update Your Info</h2>
            <span class="text-light">Update your credentials</span>
        </div>

        <!--Input Form for users-->
        <form method="post" id = "update_user">
            <div class="new_user">
                <div class="form-group">
                    <label for ="name" class="text-light">Name</label>
                    <input type = "hidden" name = "id" value="">
                    <input type = "text" name = "name" value="" placeholder="Enter Your Name">
                </div>
            
                <div class="form-group">
                    <label for ="email" class="text-light">Email</label>
                    <input type = "text" name = "email" value="" placeholder="Enter Your email">
                </div>
            
                <div class="form-group">
                    <label for ="gender" class="text-light">Gender</label>
                    <div class="radio inline">
                        <input type="radio" id = "gender-1" name = "gender" value ="Male">
                        <label for ="gender-1" class="radio-label">Male</label>
                    </div>
            
                    <div class="radio inline">
                        <input type="radio" id = "gender-2" name = "gender" value ="Female">
                        <label for ="gender-2" class="radio-label">Female</label>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for ="status" class="text-light">Status</label>
                    <div class="radio inline">
                        <input type="radio" id = "status-1" name = "status" value ="Active">
                        <label for ="status-1" class="radio-label">Active</label>
                    </div>
            
                    <div class="radio inline">
                        <input type="radio" id = "status-2" name = "status" value ="Inactive">
                        <label for ="status-2" class="radio-label">Inactive</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Register</button>
                </div>
            </div>
        </form>
    </div>
</main>

<!--/Main Section-->

<!--include temp file footer-->
<%-include('temp-files/_footer') %>